@import 'theme.css';
@import 'animation.css';

/** ============ 
	GENERAL
===============*/
body {
	margin: 0 auto;
	font-size: var(--p-font-size);
	line-height: var(--p-line-height);
	letter-spacing: var(--p-letter-spacing);
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: normal;
	box-sizing: border-box;

	/** background pattern  */
	background-color: #ffffff;
	background-size: 7px 7px;
	background-image: repeating-linear-gradient(45deg, rgba(84, 115, 237, 7%) 0, rgba(84, 115, 237, 7%) 0.7000000000000001px, #ffffff 0, #ffffff 50%);
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	padding: 80px 170px;
	max-width: 1536px;
	/* position: relative; */
}

.sectionTitle {
	font-size: var(--h1-font-size);
	line-height: var(--h1-line-height);
	font-weight: bold;
	color: var(--p-950);
	text-transform: capitalize;
}

.sectionDescription {
	text-align: center;
	max-width: 672px;
	color: var(--n-500);
}

/** ========= 
	Header
===============*/
header>div {
	padding-top: 40px !important;
}

#headerContainer {
	display: flex;
	gap: 40px;
}

#leftHeaderColumn {
	display: flex;
	flex: 1;
	gap: 24px;
	align-items: center;

	& #leftHeaderTitles {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	& #badgeWrapper {
		display: flex;
		gap: 6px;
		text-align: center;
	}

	& p {
		color: var(--n-600);
	}

	& span {
		font-weight: 600;
		color: var(--p-950);
	}
}

#rightHeaderColumn {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: end;
	gap: 8px;

	& p {
		color: var(--n-600);
		text-align: center;
	}

	& span {
		font-weight: 600;
		color: var(--p-950);
	}
}

#avarImgWrapper {
	border-radius: 100px;
	width: 118px;
	height: 118px;
	box-shadow:
		inset 0px -1px 1px rgba(255, 255, 255, 0.5),
		0 4px 6px -1px rgb(0 0 0 / 0.2),
		0 2px 4px -2px rgb(0 0 0 / 0.2),
		inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-image: url('../assets/avatar.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
}

.headerTitle {
	font-size: var(--h2-font-size);
	line-height: var(--h2-line-height);
	font-weight: 600;
}

.badge {
	font-size: var(--caption-font-size);
	line-height: var(--caption-line-height);
	color: var(--p-950);
	padding: 4px 12px;
	background-color: var(--p-50);
	border-radius: 4px;
}


/** =========== 
	About Me
=============== */

#aboutMeSection {
	position: relative;
	overflow-y: visible;
	margin: 60px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1536px;

	& img {
		position: absolute;
		z-index: -10;
		width: 300px;
		height: auto;
	}

	& img:first-child {
		top: -20%;
		left: 0;
		animation: float 6s ease-in-out infinite;
	}

	& img:nth-child(2) {
		bottom: -20%;
		right: 0;
		z-index: 1;
		animation: float 7s 1s ease-in-out infinite;
	}

}

#aboutMeBorder {
	background-color: rgba(var(--p-700-code), 0.1);
	width: 70%;
	padding: 48px;
	border-radius: 48px;
}

#aboutMeContainer {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 28px;
	align-items: center;
	justify-content: center;
	position: relative;
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 48px;
	padding: 3rem 0rem;

	& h1 {
		color: var(--p-700);
	}

	& p {
		color: var(--n-600);
		padding: 0px 8px;
	}
}

#CTA {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;

	& a {
		padding: 12px 12px;
		width: 240px;
		max-width: 80%;
		border-radius: 8px;
		cursor: pointer;
		text-align: center;
		font-weight: 600;
		box-shadow: 0 4px 6px -1px rgba(var(--p-950-code), 0.15), 0 2px 4px -2px rgba(var(--p-950-code), 0.15);
	}

	& #CVButton {
		color: white;
		background-color: var(--p-700);
		transition: background-color 0.3s ease;

		&:hover {
			box-shadow: 0 8px 36px rgba(var(--p-700-code), 0.3);
		}
	}

	& #ViewProjectsButton {
		border: 1px solid var(--p-700);
		color: var(--p-700);
		background-color: transparent;
		transition: background-color 0.5s ease;

		&:hover {
			box-shadow: 0 6px 26px rgba(var(--p-700-code), 0.2);
		}
	}
}


/** =========== 
	Skills
===============*/
#skillSection {
	position: relative;
}

#skillsContainer {
	display: flex;
	flex-direction: column;
	gap: 32px;
	position: relative;

	& p.sectionDescription {
		text-align: left;
		margin-top: 16px;
	}
}

#skillImg {
	width: 420px;
	height: 420px;
	object-fit: cover;
	border-radius: 8px;
	box-shadow: 0 10px 15px -3px rgba(var(--p-950-code), 0.3), 0 4px 6px -4px rgba(var(--p-950-code), 0.3);
}

#skillMainContent {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(2, 280px);
	gap: 12px;

	& div.gridItem {
		border: 2px solid var(--p-100);
		border-radius: 24px;
		background-color: var(--p-20);
		padding: 1rem;
		box-shadow: 0px 2px 4px rgba(28, 33, 74, 0.1);
	}

	& div.gridItem:nth-child(1) {
		grid-column: 1 / 2;
		grid-row: 1;
		border: none;
		background-image: url('../assets/cat1.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	& div.gridItem:nth-child(2) {
		grid-column: 2 / 4;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& div.icons-list-wrapper {
			overflow: hidden;
			margin-top: 8px;
			display: flex;
			gap: 12px;
			/* margin-bottom: 12px; */
		}

		& div.icons-list {
			display: flex;
			min-width: 100%;
			gap: 12px;
			flex-shrink: 0;
		}

		& div.icons-list-wrapper:nth-child(1)>div.icons-list {
			animation: move-left 30s linear infinite;
		}

		& div.icons-list-wrapper:nth-child(2)>div.icons-list {
			transform: translateX(-100%);
			animation: move-right 60s linear infinite;
		}

		& div.icon-badges {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			border-radius: 12px;
			padding: 8px 20px;
			font-weight: 700;
			font-size: var(--badge-font-size);
		}

		& div.icon-badges:nth-child(even) {
			background: var(--main-gradient-color);
			color: white;
		}

		& div.icon-badges:nth-child(odd) {
			position: relative;
			background: white;
			z-index: 0;
			margin: 1px;
			border: 1px solid var(--p-100);
		}

		& div.icon-badges:nth-child(odd)>span {
			background: var(--main-gradient-color);
			color: transparent;
			background-clip: text;
		}

		& div.icon-badges>img {
			height: 30px;
			width: 30px;
		}
	}

	& div.gridItem:nth-child(3) {
		grid-column: 1/3;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		& div#softSkills {
			position: relative;
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 8px;
			margin-top: 8px;

			& div.closedBookIcons {
				position: relative;
				width: 100%;
				height: 100%;

				& img {
					height: 40px;
					width: 40px;
					position: absolute;
				}

				& img:nth-child(1) {
					top: 20px;
					left: 50px;
					transform: scaleX(-1);
					transform: translateY(5px);

				}

				& img:nth-child(2) {
					top: 40%;
					left: 45%;
					transform: rotate(120deg);

				}

				& img:nth-child(3) {
					top: 10%;
					right: 20%;

				}

				& img:nth-child(4) {
					bottom: 20%;
					right: 5%;
					transform: scaleX(-1);
					transform: rotate(-40deg);

				}
			}
		}

		& div#softSkills>div.softSkill-badge {
			width: 244px;
			height: 36px;
			border-radius: 24px;
			border: 1px solid var(--p-100);
			background: white;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: var(--badge-font-size);
			font-weight: 600;
			text-transform: capitalize;
			position: absolute;
		}

		& div#softSkills>div.softSkill-badge:nth-child(1) {
			top: 20%;
			left: 10%;
			transform: rotate(-2deg);
		}

		& div#softSkills>div.softSkill-badge:nth-child(2) {
			bottom: 10%;
			left: 20%;
			transform: rotate(2deg);
		}

		& div#softSkills>div.softSkill-badge:nth-child(3) {
			top: 25%;
			right: 20%;
			transform: rotate(-2deg);
		}

		& div#softSkills>div.softSkill-badge:nth-child(4) {
			bottom: 10%;
			right: 5%;
			transform: rotate(2deg);
		}

		& div#softSkills>div>span {
			background: var(--main-gradient-color);
			color: transparent;
			background-clip: text;
		}
	}

	& div.gridItem:nth-child(4) {
		grid-column: 3/4;
		grid-row: 2;
		border: none;
		background-image: url('../assets/cat3.jpeg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&:hover {
			background-image: url('../assets/cat2.jpeg');
		}
	}
}

div.gridItemHeader p {
	margin-top: 12px;
	color: var(--n-500);
	max-width: 60ch;
}

div.gridItemHeader>div {
	display: flex;
	gap: 12px;

	& h2 {
		font-size: var(--h2-font-size);
		line-height: var(--h2-line-height);
		font-weight: 600;
		text-transform: capitalize;
	}
}




/** =========== 
	Projects
===============*/

#ProjectContainer {
	display: flex;
	flex-direction: column;
	gap: 32px;
	position: relative;

	&>div:first-child {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}

	& p {
		max-width: 672px;
		text-align: center;
	}
}

#projectImg {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}

#projectCardsContainer {
	/* display: flex;
	gap: 40px;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-wrap: wrap */
	display: grid;
	grid-template-columns: repeat(3, minmax(344px, auto));
	grid-gap: 32px 32px;
	justify-content: center;

	& .projectCard-wrapper {
		background: rgba(84, 115, 237, 0.1);
		padding: 28px;
		border-start-start-radius: 0.25rem;
	}
}

.projectCard {
	border-radius: 24px;
	border: 1px solid rgba(84, 115, 237, 0.1);
	background: #ffffff;
	overflow: clip;
	width: 340px;
	transition: transform 0.4s ease, box-shadow 0.4s ease;
	box-shadow: 1px 4px 6px -1px rgba(28, 33, 74, 0.1), 1px 2px 4px -2px rgba(28, 33, 74, 0.1);

	&:hover {
		box-shadow: 0 15px 40px rgba(28, 33, 74, 0.2);
		transform: scale(1.05) skew(-1deg, -1deg);

		& .projectCardImg {
			transform: scale(1.05);
		}
	}
}

.projectCardTitles {
	display: flex;
	flex-direction: column;
	padding: 12px 12px;
	gap: 4px;

	& h4 {
		font-size: var(--h4-font-size);
		line-height: var(--h4-line-height);
		text-transform: uppercase;
		color: var(--n-500);
	}

	& h3 {
		font-size: var(--h3-font-size);
		line-height: var(--h3-line-height);
		font-weight: 500;
		text-transform: capitalize;
		color: var(--p-950);
	}
}

.projectCardImg {
	width: 284px;
	height: 284px;
	object-fit: cover;
	border-radius: 24px;
	transition: transform 0.4s ease-in-out;
}

/** =========== 
	Footer
===============*/
#footer {
	font-size: var(--caption-font-size);
	color: var(--n-500);
	text-align: center;
	background-image: var(--gradient-color);
	max-width: none !important;

	& p {
		margin-top: 60px;
	}
}