/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************
     THEME 
*******************/
html {
    /*=============== 
        COLORS 
    =================*/
    --p-500-code: 84, 115, 237;
    --p-700-code: 58, 73, 200;
    --p-900-code: 47, 59, 128;
    --p-950-code: 28, 33, 74;
    --p-20: #F6FAFF;
    --p-50: #EEF5FF;
    --p-100: #E0EDFF;
    --p-200: #C8DDFD;
    --p-300: #A6C4FB;
    --p-400: #83a2f6;
    --p-500: #5473ed;
    --p-600: #485BE3;
    --p-700: rgb(58, 73, 200);
    --p-800: #323FA1;
    --p-900: rgb(47, 59, 128);
    --p-950: #1c214a;
    --n-50: #F7F8F9;
    --n-500: #64748b;
    --n-600: #4B5768;
    --foreground-color: #ffffff;
    --main-gradient-color: linear-gradient(to right, #54BFED, var(--p-500));
    --gradient-color: linear-gradient(var(--foreground-color) 10%, var(--p-100));

    /*=============== 
        FONTS
    =================*/
    /* 36px */
    --h1-font-size: 2.25rem;
    /* 40px */
    --h1-line-height: 2.5rem;

    /* 24px */
    --h2-font-size: 1.5rem;
    /* 32px */
    --h2-line-height: 2rem;

    /* 16px */
    --h3-font-size: 1rem;
    /* 24px */
    --h3-line-height: 1.5rem;

    /* 12px */
    --h4-font-size: 0.75rem;
    /* 16px */
    --h4-line-height: 1rem;

    /* 16px */
    --p-font-size: 1rem;
    /* 24px */
    --p-line-height: 1.5rem;

    --p-letter-spacing: 0.025rem;

    /* 14px */
    --badge-font-size: 0.875rem;

    /* 12px */
    --caption-font-size: 0.75rem;
    /* 16px */
    --caption-line-height: 1rem;


    /*=============== 
        OTHERS
    =================*/
    scroll-behavior: smooth;
}